ul.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navi li {
  float: left;
}

ul.navi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.navi li a:hover {
  background-color: #111;
}

ul.navi .active {
  background-color: #4caf50;
}
